@{
    ViewBag.Title = "Página Principl";
}

<div class="jumbotron" style="font-family: Lato; border-radius: 5px;">
    <h1 style="font-weight: bold"><span style="color: #39ac3d">Web</span>Healthy</h1>
    <p class="lead">A plataforma fitness mais completa do mercado.</p>
</div>

<div style="align-items: center;">
    <img src="~/Content/images/Exemplo01.png" width="500px" height="400px" style="border-radius: 10px; margin-left: 3%; margin-bottom: 2%"/>
    <img src="~/Content/images/Exemplo02.png" width="500px" height="400px" style="border-radius: 10px; margin-left: 3%; margin-bottom: 2%"/>
</div>

<div class="row" style="font-family: Lato; background-color: #7fb017; border-radius: 20px">
    <div class="col-md-6">
        <h2 style="color:#eaffe3">Faça seu Cadastro!</h2>
        <p style="color: #eaffe3">
            A WebHealty é um programa para auxiliar você nos seus exercícios diários! Além de recomendar os melhores exercícios para cada um de nosso clientes
            também damos dicas com outros assuntos que interferem diretamente na sua saúde, por isso, venha fazer cadastro e comece a ter uma vida mais Healty!
        </p>
        <p><a class="btn btn-default" style="color: #0a2e06; font-weight: bold; background: rgb(174,255,0); background: linear-gradient(90deg, rgba(174,255,0,1) 0%, rgba(59,138,62,1) 100%) " href="/Home/Usuario">Fazer Cadastro &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2 style="color:#eaffe3">Hidrate se!</h2>
        <p style="color:#eaffe3">
            Para manter uma vida saudável é muito importante se manter hidratado(a), por isso no nosso programa, você será lembrado de hora em hora para tomar
            um copo d'água, já que a maior parte das pessoas que treinam não bebem água o suficiente.
        </p>
    </div>
</div>